.title_Values {
    display: flex;
    justify-content: space-between;
    color: #4bc2f5;
    font-size: 30px;
    font-weight: 700;
    min-width: 350px;
    padding: 10px 0;
}

.title_Values input {
    text-align: center;
    font-size: 14px;
    max-width: 200px;
    border: 2px solid #4bc2f5;
    border-radius: 5px;
}
.error{
    background-color: #ca2a2a;
}